.footer {
  background: $cor-background;
  width: 100%;
  height: 100px;
  &--content {
    display: flex;
    align-items: center;
    margin: 0 100px;
    &__title {
      color: $cor-title;
    }
    &__list {
      display: flex;
      white-space: nowrap;
      padding: 0 300px;
    }
    &--item {
      color: #FFF;
      padding: 20px;
      &:hover {
        color: $cor-text;
      }
    }
    @include d(s) {
      margin: 0 30px;
      &__title {
        font-size: $font-normal;
      }
      &__list {
        padding: 0 20px;
        flex-grow: 1;
      }
    }
  }
}

.social--media--footer  {
  display: flex;
  &__img {
    max-width: 30px;
    padding: 0 10px;
  }
  @include d(s) {
    display: none;
  }
}