// RESET
body, h1, h2, ul, li, a {
  margin: 0;
  padding: 0;
  user-select: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}