.portfolio--main {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1000px;
  margin: 0 auto;
  &__title {
    text-align: center;
    font-size: $font-medium;
    color: $cor-text;
  }
  p {
    color: $cinza;
    text-align: center;
    padding-bottom: 40px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  &__logo {
    width: 300px;
    min-height: 23vw;
  }
  &__div {
    margin: 10px 0;
    &:nth-child(4) {
      width: 63%;
      background: $cor-background;
      color: $cor-title;
      text-align: center;
    }
    &--title {
      margin-top: 100px;
    }
  }
  @include d(s) {
    .portfolio--main {
      &__div {
        &:nth-child(4) {
          width: 73%;
        }
      }
    }
  }
}
