.produtos {
  display: flex;
  justify-content: center;
  &--work {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 80px 0;
    
    &__list {
      display: flex;
    }
    &__img {
      max-width: 50px;
      padding-bottom: 20px;
    }
    &--item {
      display: flex;
      flex-flow: column;
      align-items: center;
      p {
        text-align: center;
        color: $cinza;
      }
      a {
        display: flex;
        background: $cor-background;
        width: 120px;
        height: 30px;
        justify-content: center;
        align-items: center;
        color: $cor-title;
        border: 3px solid $cor-background;
        &:hover {
          color: $cor-text;
        }
      }
    }
  }
  @include d(s) {
    &--work {
      width: 100%;
    }
    h3 {
      font-size: $font-little;
    }
    p {
      font-size: $font-little;
    }
  }
}

