$cor-background: #754ef9;
$cor-title: #FFF;
$cor-text: #222222;

// RESET
body, h1, h2, ul, li, a {
  margin: 0;
  padding: 0;
  user-select: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu--header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 30%;
  height: 600px;
  padding: 20px;
  background: $cor-background;
  box-sizing: border-box;
}

.header--title {
  width: 100%;
  text-align: center;
  color: $cor-title;
  font-size: 1.75em;
}

.menu--header p {
  width: 100%;
  font-size: 0.875em;
  color: $cor-title;
  position: relative;
  bottom: -40%;
  text-align: center;
}

.person--img {
  position: absolute;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  right: -50px;
  top: 30%;
  box-shadow: 0px 0px 0px 10px $cor-background,
              0px 0px 0px 60px $cor-title,
              0px 0px 0px 70px $cor-background;

}

.menu--main {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 10px solid $cor-background;
}

.menu--nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
  padding-bottom: 150px;
}

.menu--nav ul li a {
  font-size: 0.875em;
  color: $cor-text;
}

.nav--mobile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav--mobile li a {
  margin-right: 30px;
}

.text--light {
  color: $cor-background;
}

.menu--main h1 {
  font-size: 4em;
  text-align: center;
}

.menu--main h2 {
  font-size: 0.875em;
  text-align: center;
  color: $cor-text;
}

#btn--down {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: center;
  background: $cor-background;
  border-radius: 18px;
  color: $cor-title;
}

.img--logo {
  width: 100%;
}

.social--media {
  display: flex;
  justify-content: flex-end;
  flex-flow: column nowrap;
  position: absolute;
  width: 30px;
  right: 10px;
  top: 20%;
}

.social--media p {
  white-space: nowrap;
  transform: rotate(90deg);
  margin-bottom: 150px;
}

.social--media p::after {
  display: inline-block;
  content: '';
  width: 200%;
  height: 2px;
  background: $cor-text;
  margin-bottom: 3px;
}

.social--media a {
  margin: 10px 0;
}

.my--intro {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: $cor-text;
}

.my--intro::before {
  content: '';
  background: url('../../img/playbutton.png') center center/cover no-repeat;
  width: 50px;
  margin-left: 300px;
}

.produtos--work {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.work--produtos {
  width: 10%;
  text-align: center;
}

